/* First of all, some basic css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

menu {
  list-style: none;
}

a,
a:link,
a:visited,
a:focus,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

/* Colour variables */
:root {
  /* Common */
  --title-color: #b90b4a;
  --subtitle-color: #d65d89;
  --footer-color: #c83269;
  /* Light mode */
  --bg-color: #fdd9e5;
  --text-color: #5d0626;
  --hover-color: #fde2ec;
  --content-bg-color: #fccfdf;
  --transparent-color: #00000000;
}

:root.dark {
  /* Dark mode */
  --bg-color: #3b0418;
  --text-color: #f1c4d5;
  --hover-color: #47041d;
  --content-bg-color: #330315;
  --transparent-color: #ffffff00;
}

/* Locally hosted google fonts */
@font-face {
  font-family: "Niramit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/niramit-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/zilla-slab-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Common styles */
:root {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Niramit", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab", serif;
  color: var(--title-color);
}

body > header {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-title {
  display: inline-block;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
}

#header-title:hover {
  background-color: var(--hover-color);
  transition: background-color 0.25s;
}

#title-name {
  color: var(--title-color);
  font-family: "Zilla Slab", serif;
  font-size: 3rem;
  line-height: 60px;
  vertical-align: middle;
}

#title-handle {
  color: var(--subtitle-color);
  font-size: 1.8rem;
  line-height: 60px;
  vertical-align: middle;
}

body > header nav {
  height: 80px;
  padding: 10px;
  margin: 0;
  background-color: var(--content-bg-color);
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body > header nav a {
  height: 100%;
  padding: 10px;
  margin: 0;
  line-height: 40px;
  display: block;
  border-radius: 10px;
  text-align: center;
}

body > header nav a:hover {
  background-color: var(--hover-color);
  transition: background-color 0.2s;
}

#theme-switch {
  cursor: pointer;
  user-select: none;
  font-size: 1.6rem;
  width: 55px;
}

main {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--content-bg-color);
}

main a:link {
  padding: 0 3px;
  margin: 0 -3px;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  border-radius: 3px;
}

main a:hover {
  background-color: var(--hover-color);
  text-decoration-color: var(--transparent-color);
  transition: background-color 0.25s;
  transition: text-decoration-color 0.25s;
}

main p {
  line-height: 1.5rem;
}

.blog-index {
  margin: 1rem 0;
}

.blog-entry {
  line-height: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-index {
  margin-bottom: 10px;
}

.project-index > a:link {
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-decoration: none;
}

.project-index > a:hover {
  background: none;
  transition: none;
}

.project-entry {
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
}

.project-entry:hover {
  background-color: var(--hover-color);
  transition: background-color 0.25s;
}

.project-entry > h2 {
  margin: 0 0 1rem 0;
  color: var(--text-color);
}

.project-entry > img {
  float: right;
  margin: -20px -20px 0 0;
  height: 150px;
  border-radius: 10px;
}

article > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 1.333rem;
}

.blog-entry time,
article > header > time {
  font-family: "Zilla Slab", serif;
}

article > header > h1 {
  font-size: 2rem;
  margin-block: 0;
}

body > footer {
  font-family: "Zilla Slab", serif;
  padding: 10px;
  margin-top: auto;
  font-size: 0.8rem;
  color: var(--footer-color);
}

body > footer a:link {
  padding: 3px 2px;
  margin: -3px -2px;
  display: inline-block;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  border-radius: 3px;
}

body > footer a:hover {
  background-color: var(--hover-color);
  text-decoration-color: var(--transparent-color);
  transition: background-color 0.25s;
  transition: text-decoration-color 0.25s;
}

/* Responsive media queries */
@media screen and (max-width: 840px) {
  body > header {
    height: 190px;
    flex-direction: column;
  }

  main {
    max-width: calc(100% - 20px);
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--content-bg-color);
  }
}

@media screen and (max-width: 500px) {
  #title-handle {
    display: none;
  }
}

/* Petite vue helper */
[v-cloak] {
  display: none;
}
