{{#> page}}
	{{#*inline "head"}}
		<meta name="title" content="{{metadata.title}}">
		<title>{{metadata.title}} • leafcodes</title>
	{{/inline}}
	{{#*inline "main"}}
		{{{main}}}
	{{/inline}}
{{/page}}
