<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="dark light">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Niramit&family=Zilla+Slab&display=swap">

		<link rel="stylesheet" href="/common.css">

        <script src="//unpkg.com/alpinejs@3" defer></script>

        <script>
            let lsTheme = localStorage.theme
            const prefersDark = (!lsTheme && window.matchMedia('(prefers-color-scheme: dark)').matches)
            if (prefersDark || lsTheme === 'dark') {
                document.documentElement.classList.add('dark')
            } else {
                document.documentElement.classList.remove('dark')
            }

            document.addEventListener('alpine:init', () => {
                Alpine.data('theming', () => ({
                    theme: lsTheme,
                    toggle() {
                        if (this.theme === 'dark') {
                            this.theme = 'light'
                            document.documentElement.classList.remove('dark')
                        } else {
                            this.theme = 'dark'
                            document.documentElement.classList.add('dark')
                        }
                        localStorage.theme = this.theme
                    },
                }))
            })
        </script>

		{{> head}}
	</head>
	<body>
		<header>
            <a id="header-title" href="/">
                <span id="title-name">Emmy Leadley </span>
                <span id="title-handle">@leafcodes</span>
            </a>
		    <nav>
                <a href="/blog">blog</a>
                <a href="https://github.com/emmyleaf/">code</a>
                <a href="https://leafcodes.bandcamp.com/">music</a>
                <a href="/projects">projects</a>
                <a id="theme-switch" x-data="theming" @click.prevent="toggle" href="">
                    <span style="display: none;" x-show="theme === 'dark'">🌞</span>
                    <span style="display: none;" x-show="theme !== 'dark'">🌚</span>
                </a>
            </nav>
        </header>
		<main>
			{{> main}}
		</main>
	</body>
</html>
